.Vertical {
    display: flex;
    flex-direction: column;
}

.Horizontal {
    display: flex;
    flex-direction: row;
}

@media (min-width: 700px){
    .Vertical {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .Horizontal {
        display: flex;
        flex-direction: row;
    }
}
