.Vertical {
    display: flex;
    flex-direction: column;
    left: -1em;
    position: relative;
}

.Horizontal {
    display: contents;
}

.ButtonHor {
    right: 0;
    height: 77%;
    position: fixed;
}

.ButtonVert {
    position: fixed;
    bottom: 0;
    right: 20%;
    width: 60%;
}

.Element {
    display: flex;
}

@media (min-width: 700px){
    .Vertical {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}
